body{
   
    padding:0;
    margin: 0px auto;
    text-align: center;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height:20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2084c7; 
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2084c7; 
  } 
.main-container{
   width:100%;
   height:auto;
   background-color: #0d6cac;
}
#nav{
   width:100%;
   background-color:#0d6cac !important;
   border-bottom: 1px solid white;
   padding:20px
}
#nav button{
   color:#fff;
   border:0;
}
.nav-pick{
   width:70px;
}

#navbarNavAltMarkup{
  /* background-color: #e8f2f8 !important;*/
   position: relative;
   padding-left:50px;
   margin-top: 5px;
}



.navbar-nav a{
   color:#fff !important;
   font-weight:600;
   font-size: 16px;

}
span a:hover{
   color:#ffcb00 !important;
}
.top-content{
   background-color: #0d6cac;
   padding:20px;
   padding-bottom:60px;
   
}
.top-content h2{
   color:#ffff;
   text-align: center;
   font-size:50px;
   font-weight: bold !important;
   padding:10px;
   margin-top: 30px;
}

.wrapper{

   margin-top: 30px;

}
.right{
   /*margin-top: 30px;*/
    padding:20px;
}
.right h3{
    color:#fff;
    text-align: center;
    padding: 10px;
    font-weight: bold !important;
    font-size: 30px;
   
}
.right p ,li{
    color:#fff;
      font-size: 15px;
      line-height: 27px;
      text-align: left;
}


.left h3{
    color:#fff;
    font-size: 35px;
    text-align: center;
   
}  
.footer{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: #e8f2f8;
}
.foot-box{
   width:30%;
   margin-top:20px;
   padding-bottom: 30px;
}
.foot-box h4 ,p, i{
   color:#0d6cac;
   line-height: 35px;
   font-size: 20px;
   margin-left: 10px;
}
.foot-box i{
   font-size: 35px;
   margin-left: 10px;
}
.foot-box button{
   color:white;
   font-weight: bold;
   font-size: 20px;
   border:0;
   padding:5px;
   transition: 1s;
   border-radius: 40px;
   background-color: #0d6cac;
   width:124px;
}

.foot-box button:hover{
background-color: #fecb03;
color: #0d6cac;
cursor: pointer;
}
.foot-box i{
   cursor: pointer;
}
h4:hover{
   color:#184868;
   cursor:pointer;
}
.foot-box i:hover{
color:#184868
}
.foot-box a:hover{
   color:#fecb03;
}

.btn {
   position: fixed;
   bottom: 10px;
   right: 10px;
   z-index: 99;
   font-size: 15px;
   border: none;
   outline: none;
   background-color: #0d6cac;
   color: white;
   text-decoration: none;
   cursor: pointer;
   padding: 5px;
   transition: 2s ease;
   }
@media only screen and (max-width: 900px) {
    .right{
        width: 100%;

    }
    .left img{
      
   padding:10px
    }
    .left{
        width: 100%;
   
    }
    #navbarNavAltMarkup{
      background-color: #e8f2f8 !important;
      
   }
   .navbar-nav a{

      color:#308cc5 !important;
      transition:1s;  
      font-weight:600;
      font-size: 16px;
   }
   
   span a{
      text-align: left;
      border-bottom: 1px solid  rgb(206, 126, 126);
   }
   span a:hover{
      color:#ffcb00 !important;
   }
   .foot-box{
      width:100%;
      text-align: center;
   } 
}