body{
    margin: 0;
    padding: 0;

}
* width */
::-webkit-scrollbar {
    width: 100px;
    height:20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2084c7; 
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2084c7; 
  }
.main-container{
   width:100%;
   height:auto;
}
#nav{
   width:100%;
   background-color:#0d6cac !important;
   border-bottom: 1px solid white;
}
#nav button{
   color:#fff;
   border:0;
}
.nav-pick{
   width:50px;
}

#navbarNavAltMarkup{
   background-color: #e8f2f8 !important;
   position: relative;
   padding-left:50px;
   margin-top: 5px;
}
#navbarNavAltMarkup, a{
   border-bottom: 1px solid grey;  
   color:#308cc5
}


.navbar-nav a{
   color:#0d6cac !important;
   font-weight:600;
   font-size: 14px;
}
.navbar-nav a:hover{
   color:yellow;
}
.top-content{
   background-color: #0d6cac;
   padding:20px;
   padding-bottom:60px;
   
}
.top-content h2{
   color:#ffff;
   text-align: center;
   font-size:50px;
   font-weight: bold !important;
   padding:10px;
   margin-top: 30px;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: px;
    background-color: #0d6cac;
}
.right{
    float: left;
    width:50%;
   margin-top: 30px;
    padding:20px;
}
.right h3{
    color:#fff;
    text-align: center;
    padding: 10px;
    font-weight: bold !important;
    font-size: 30px;
    
}
.right p ,li{
    color:#fff;

}
.left img{
    width:400px;
    margin-top: 80px;
    
}

.left h3{
    color:#fff;
    font-size: 35px;
    text-align: center;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    background-color: #e8f2f8;
    
 }
 .foot-box{
    width:30%
 }
 .foot-box h4 ,p, i{
    color:#0d6cac;
    line-height: 35px;
    font-size: 20px;
    margin-left: 10px;
 }

 .foot-box i{
    font-size: 35px;
    margin-left: 10px;
 }
 .foot-box button{
    color:white;
    font-weight: bold;
    font-size: 20px;
    border:0;
    padding:5px;
    transition: 1s;
    border-radius: 40px;
    background-color: #0d6cac;
    width:124px;
 }
 
 .foot-box button:hover{
 background-color: #fecb03;
 color: #0d6cac;
 cursor: pointer;
 }
 .foot-box i{
    cursor: pointer;
 }
 .foot-box i:hover{
 color:#184868
 }
 .foot-box a:hover{
    color:#fecb03;
 }
 .btn {
   position: fixed;
   bottom: 10px;
   right: 10px;
   z-index: 99;
   font-size: 15px;
   border: none;
   outline: none;
   background-color: #0d6cac;
   color: white;
   text-decoration: none;
   cursor: pointer;
   padding: 5px;
   
   transition: 2s ease;
   }
   
@media only screen and (max-width: 700px) {
    .right{
        width: 100%;

    }
    
    .left img{
        width: 100%;
        position: relative;
        bottom:60px
    }
}